<a href="https://colab.research.google.com/github/VU21CSEN0100182/PYTHON/blob/main/copy_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JOIN TWO LIST

In [1]:
a = ["d","e","f"]
b = [1,2,3]
c= a + b
print(c)

a = ["d","e","f"]
b = ["1,2,3"]
for x in b:
  a.append(x)
  print(a)

#EXTEND 
a = ["d","e","f"]
b = [1,2,3]
a.extend(b)
print(a)

['d', 'e', 'f', 1, 2, 3]
['d', 'e', 'f', '1,2,3']
['d', 'e', 'f', 1, 2, 3]

In [3]:
fruit = ["apple","banana","orange"]
mylist=fruit.copy()
print(mylist)

mylist=list(fruit)
print(mylist)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange']

SORT ALPH

In [4]:
fruit=["apple","pineapple","orange","banana","guava"]
fruit.sort()
print(fruit)

['apple', 'banana', 'guava', 'orange', 'pineapple']

SORT NUMBERICALLY

In [5]:
number=["90","50","53","66","111"]
number.sort()
print(number)

['111', '50', '53', '66', '90']

SORT DESCENDING

In [7]:
fruit=["apple","kiwi","banana","lichy","mango"]
fruit.sort(reverse= True)
print(fruit)
numbers=["60","12","9"]
numbers.sort(reverse= True)
print(numbers)

['mango', 'lichy', 'kiwi', 'banana', 'apple']
['9', '60', '12']

REVERSE ORDER

In [10]:
fruit= ["cherry","watermelon","apple","grapes","mango"]
fruit.reverse()
print(fruit)

['mango', 'grapes', 'apple', 'watermelon', 'cherry']

changing list items

In [11]:
fruit = ["kiwi","cherry","lichy","drangon"]
print(fruit)
fruit[1:3]=["pipeapple"]
print(fruit)
fruit[2:3]=["apple","mango"]
print(fruit)

['kiwi', 'cherry', 'lichy', 'drangon']
['kiwi', 'pipeapple', 'drangon']
['kiwi', 'pipeapple', 'apple', 'mango']

EXTENDING THE ITEM

In [12]:
fruit=["kiwi","apple","lichy","watermelon"]
print(fruit)
fruit[2:4]="blackberry"
print(fruit)

['kiwi', 'apple', 'lichy', 'watermelon']
['kiwi', 'apple', 'b', 'l', 'a', 'c', 'k', 'b', 'e', 'r', 'r', 'y']

ADD LIST ITEMS

In [13]:
fruit=["strawberry","rasberry","blackberry","cherry"]
print(fruit)

#APPEND
fruit.append("apple")
print(fruit)

#INSERTING
fruit.insert(4,"mango")
print(fruit)
fruit.insert(1,"banana")
print(fruit)

['strawberry', 'rasberry', 'blackberry', 'cherry']
['strawberry', 'rasberry', 'blackberry', 'cherry', 'apple']
['strawberry', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple']
['strawberry', 'banana', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple']

EXTENDING THE LIST

In [14]:
extra=("kiwi","lichy")
fruit.extend(extra)
print(fruit)

['strawberry', 'banana', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple', 'kiwi', 'lichy']

In [15]:
fruit=["kiwi","lichy","mango","apple"]
print(fruit)

['kiwi', 'lichy', 'mango', 'apple']

In [16]:
print(fruit[-1])

apple

In [18]:
fruit=["kiwi","lichy","mango","apple"]
print(fruit)
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[3:])

['kiwi', 'lichy', 'mango', 'apple']
['kiwi', 'lichy']
['kiwi', 'lichy']
['lichy']
['lichy', 'mango', 'apple']
['apple']

CASE INSENSTIVE SORT

In [19]:
fruit = ["banana","mango","watermelon","grapes","cherry"]
fruit.sort()
print(fruit)

['banana', 'cherry', 'grapes', 'mango', 'watermelon']

FOR LOOP

In [20]:
vegetable=["carrot","betroot","onion"]
print(vegetable)
for x in vegetable:
  print(x)

['carrot', 'betroot', 'onion']
carrot
betroot
onion

range

In [21]:
vegetable=["carrot","betroot","onion"]
print(vegetable)
for i in range(len(vegetable)):
    print(vegetable[1])

['carrot', 'betroot', 'onion']
betroot
betroot
betroot

WHILE LOOP

In [25]:
vegetable=["carrot","betroot","onion"]
print(vegetable)
i=0
while i < len(vegetable):
    print(vegetable[i])
    i=i+1

['carrot', 'betroot', 'onion']
carrot
betroot
onion

FOR LOOP

In [26]:
vegetable=["carrot","betroot","onion"]
print(vegetable)
[print(x) for x in fruit]

['carrot', 'betroot', 'onion']
banana
cherry
grapes
mango
watermelon

[None, None, None, None, None]

printing list

In [27]:
fruit=["kiwi","apple","watermelon","grapes"]
print(fruit)

['kiwi', 'apple', 'watermelon', 'grapes']

LIST OF COMPREHENSION

In [28]:
fruit=["apple","watermelon","papaya"]
newlist=[x for x in fruit if "y" in x]
print(newlist)

newlist=[x for x in fruit if x !="apple"]
print(newlist)

newlist=[x for x in fruit]
print(newlist)

newlist=[x for x in range(11)]
print(newlist)

newlist=[x for x in range(9) if x<5]
print(newlist)

newlist=[x.upper()for x in fruit]
print(newlist)

newlist=['hello' for x in fruit]
print(newlist)

newlist=[x if x !="apple" else "papaya" for x in fruit]
print(newlist)

['papaya']
['watermelon', 'papaya']
['apple', 'watermelon', 'papaya']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
['APPLE', 'WATERMELON', 'PAPAYA']
['hello', 'hello', 'hello']
['papaya', 'watermelon', 'papaya']

newlist

In [29]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [30]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry