<a href="https://colab.research.google.com/github/VU21CSEN0100182/PYTHON/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP LISTS

In [11]:
#for loop in list
list=["summer","winter","rainy"]
for x in list:
  print(x)
#loop through index numbers
list=["apple","banana","orange"]
for i in range(len(list)):
  print(list[i])
#using a while loop
list=["gold","daimond","silver","platinum"]
i=0
while i < len(list):
  print(list[i])
  i=i+1
#looping using list comprehension
list=["chicken","prawns","mutton","fish"]
[print(x) for x in list]

summer
winter
rainy
apple
banana
orange
gold
daimond
silver
platinum
chicken
prawns
mutton
fish

[None, None, None, None]

TUPLES

In [14]:
#for loop through a tuple
tuple=("summer","winter","rainy")
for x in tuple:
  print(x)
#loop through the index numbers
tuple=("sodium","potasium","lithium","carbon","ferrous")
for i in range(len(tuple)):
  print(tuple[i])
#using a while loop
tuple=["gold","daimond","silver","platinum"]
i=0
while i < len(tuple):
  print(tuple[i])
  i=i+1

summer
winter
rainy
sodium
potasium
lithium
carbon
ferrous
gold
daimond
silver
platinum

SETS

In [18]:
#set
set={"biryani","paneer","sambar","dal","potato"}
print(set)
#duplicate values will be ignored
set={"idly","vada","dosa","puri","vada","chapati","idly","non"}
print(set)
#loop sets
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

{'biryani', 'paneer', 'sambar', 'potato', 'dal'}
{'chapati', 'vada', 'non', 'puri', 'idly', 'dosa'}
cherry
apple
banana

 Loop Dictionaries

In [23]:
#Loop Through a Dictionary
dict=	{
  "name": "srihitha",
  "age": "18",
  "year": 2004
}
for x in dict:      #key names
 print(x)
for x in dict:       #all values
  print(dict[x])

name
age
year
srihitha
18
2004