<a href="https://colab.research.google.com/github/VU21CSEN0100182/PYTHON/blob/main/MODULE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [2]:
a=300
b=200
c=int(input())
d=int(input())
e=a-(b)-(c)-(d)
print(e)

48
78
-26

Use of print statements and use of (.format )for printing different data types

In [13]:
quantity = 2
itemno = 118
price = 299
myorder = "I want {} pieces of item {} for {} rupees."
print(myorder.format(quantity, itemno, price))

I want 2 pieces of item 118 for 299 rupees.

In [16]:
quantity = 5
itemno = 827
price = 1059
myorder = "I want to pay {2} rupees for {0} pieces of item {1}."c
print(myorder.format(quantity, itemno, price))

I want to pay 1059 rupees for 5 pieces of item 827.

 Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [4]:
a=(int(input("Enter the numbers")))
b=(int(input("Enter the numbers")))
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(0))

Enter the numbers3
Enter the numbers2
5
1
6
1.5
1
<class 'int'>

In [11]:
a=70
b=32
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(a))

102
38
2240
2.1875
6
<class 'int'>

Same operations on floating point input as well

In [10]:
a=9.6
b=4.2
sum=a+b
print(sum)
sub=a-b
print(sub)
multiply=a*b
print(multiply)
divide=a/b
print(divide)
rem=a%b
print(rem)
print(type(a))

13.8
5.3999999999999995
40.32
2.2857142857142856
1.1999999999999993
<class 'float'>

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [18]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 56
56.00 kilometers is equal to 34.80 miles

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

Accepting 5 different subject marks from user and displaying the grade of the student

In [23]:
a=(int(input("Enter 1st subject marks")))
b=(int(input("Enter 2nd subject marks")))
c=(int(input("Enter 3rd subject marks")))
d=(int(input("Enter 4th subject marks")))
e=(int(input("Enter 5th subject marks")))
f=(a+b+c+d+e)/5
if f>90:
  print("grade A")
elif f>90 and f<95:
  print("grade B")
elif f>80 and f<90:
  print("grade C")
elif f>70:
  print("grade D")

Enter 1st subject marks76
Enter 2nd subject marks90
Enter 3rd subject marks99
Enter 4th subject marks95
Enter 5th subject marks78
grade C

decimal

In [24]:
a=float(input("Enter 1st subject marks"))
b=float(input("Enter 2nd subject marks"))
c=float(input("Enter 3rd subject marks"))
d=float(input("Enter 4th subject marks"))
e=float(input("Enter 5th subject marks"))
f=(a+b+c+d+e)/5
if f>90:
  print("grade A")
elif f>90 and f<95:
  print("grade B")
elif f>80 and f<90:
  print("grade C")
elif f>70:
  print("grade D")

Enter 1st subject marks99.5
Enter 2nd subject marks55.6
Enter 3rd subject marks85.7
Enter 4th subject marks52.7
Enter 5th subject marks99
grade D