<a href="https://colab.research.google.com/github/VU21CSEN0100182/PYTHON/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Sets

In [1]:
#set
set={"apple","ball","cat","dog"}
print(set)

{'cat', 'dog', 'ball', 'apple'}

In [3]:
#Duplicates
set={"electron","proton","calicium","nutron","electron"}
print(set)

{'proton', 'electron', 'calicium', 'nutron'}

In [4]:
# Length of a Set
set={"srihitha","harshitha","deepika","vaishnavi","cherishma","pushpitha"}
print(len(set))

6

In [7]:
set={"srihitha","harshitha""deepika""vaishnavi""cherishma""pushpitha"}
print(len(set))

2

Set Items

In [11]:
#Data Types
set1 = {"srihitha", "harshitha", "deepika"}
set2 = {2,4,6,8,10,12}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'harshitha', 'srihitha', 'deepika'}
{2, 4, 6, 8, 10, 12}
{False, True}

In [14]:
set1 = {"srihitha", 182,"gitam", "cse", "python"}
print(set1)

{'gitam', 'python', 'cse', 182, 'srihitha'}

type

In [15]:
set = {"apple", "banana", "cherry"}
print(type(set))

<class 'set'>

#Python - Access Set Items

In [23]:
#Access Items
a={"hydrogen","helium","nitrogen"}
for x in a:
  print(x)

hydrogen
helium
nitrogen

In [28]:
set={"electron","proton","calicium"}
print("carrot" in set)
print("proton" in set)

False
True

#Python - Add Set Items

In [29]:
#Add Items .add()
set={"ice cream","chocolate","chicken"}
set.add("fish")
print(set)

{'chicken', 'fish', 'ice cream', 'chocolate'}

In [30]:
#add sets .update(tropical)
set = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
set.update(tropical)
print(set)

{'apple', 'mango', 'papaya', 'pineapple', 'cherry', 'banana'}

In [31]:
#Add Any Iterable 
a={"india","africa","australlia","america"}
set=["europe","greenland"]
a.update(set)
print(a)

{'australlia', 'europe', 'greenland', 'africa', 'india', 'america'}

#Python - Remove Set Items

In [33]:
#Remove Item  remove()
a={"andhra pradesh","tamil nadu","karnataka","west bengal"}
a.remove("west bengal")
print(a)

{'karnataka', 'tamil nadu', 'andhra pradesh'}

In [35]:
#discard()
a={"andhra pradesh","tamil nadu","karnataka","west bengal"}
a.remove("karnataka")
print(a)

{'tamil nadu', 'west bengal', 'andhra pradesh'}

In [36]:
#pop()
set={"asia","india","japan","singapor"}
x=set.pop()
print(x)
print(set)

japan
{'india', 'singapor', 'asia'}

In [38]:
#clear()
a={"blue","pink","vilote","yellow"}
a.clear()
print(a)

set()

In [40]:
#del
set={"blue","pink","vilote","yellow"}
del set
print(set)

<class 'set'>

#Python - Loop Sets

In [41]:
#Loop Items
set = {"apple", "banana", "cherry"}
for x in set:
  print(x)

cherry
banana
apple

#Python - Join Sets

In [43]:
#join two sets
#union()
set1={"s","r","i","h","i","t","h","a"}
set2={"1","8","2"}
set3= set1.union(set2)
print(set3)

{'r', 't', '1', '2', 's', 'i', 'h', '8', 'a'}

In [45]:
#update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'b', 'c', 1, 2, 3, 'a'}

In [46]:
#ONLY Duplicates
#intersection_update()
x={"google","microsoft","crome"}
y={"crome","fire fox","settings"}
x.intersection_update(y)
print(x)

{'crome'}

In [51]:
#intersection()
x={"apple", "banana", "cherry"}
y={"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [52]:
#NOT the Duplicates
#symmetric_difference()_update()
x={"google","microsoft","crome"}
y={"crome","fire fox","settings"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'settings', 'fire fox'}

In [53]:
#symmetric_difference()
x={"google","microsoft","crome"}
y={"crome","fire fox","settings"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'settings', 'fire fox'}