<a href="https://colab.research.google.com/github/VU21CSEN0100182/PYTHON/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuple

In [3]:
a=("blue","black","white","pink","green")
print(a)

('blue', 'black', 'white', 'pink', 'green')

In [5]:
#Duplicates

a=("blue","black","pink","blue","pink","blue")
print(a)

('blue', 'black', 'pink', 'blue', 'pink', 'blue')

In [34]:
#Tuple Length

a=("cat""dog""rabbit")
print(len(a))

a=("cat dog rabbit")
print(len(a))

a=("cat , dog , rabbit")
print(len(a))

12
14
18

In [12]:
# Tuple With One Item

a=("chocolate","apple", )
print(type(a))

<class 'tuple'>

In [15]:
#Data Types

a=("blue","pink","vilot")
b=("mango","apple","orange")
c=("chocolate","ice cream")
print(a)
print(b)
print(c)

('blue', 'pink', 'vilot')
('mango', 'apple', 'orange')
('chocolate', 'ice cream')

In [35]:
#Data Types

a=("blue","pink","vilot")
b=("mango","apple","orange")
c=("chocolate","ice cream")
print(a,b,c)

('blue', 'pink', 'vilot') ('mango', 'apple', 'orange') ('chocolate', 'ice cream')

In [19]:
#A tuple with strings, integers and boolean value
a=("blue","mango","carrot",11,"chocolate","true",26,"abc")
print(a)

('blue', 'mango', 'carrot', 11, 'chocolate', 'true', 26, 'abc')

In [18]:
#type

a=("carrot","mango","orange","17")
print(type(a))

<class 'tuple'>

In [36]:
#The tuple() Constructor

a=('carrot',"mango","orange",17)
a=tuple(("carrot",))
b=tuple(("mango"))
c=tuple(("yellow"))
d=tuple(("blue,pink"))
e=tuple(("blue","pink"))
print(a)
print(b)
print(c)
print(d)
print(e)

('carrot',)
('m', 'a', 'n', 'g', 'o')
('y', 'e', 'l', 'l', 'o', 'w')
('b', 'l', 'u', 'e', ',', 'p', 'i', 'n', 'k')
('blue', 'pink')

# Python Access Tuples

In [43]:
colors=("white","pink","yellow","blue","black","vilote","orange","green")
print(colors[4])

colors=("white","pink","yellow","blue","black","vilote","orange","green")
print(colors[4])
print(colors[7])
print(colors[3])

#Negative Indexing

num=("11","56","apple","blue","47","289")
print(num[-2])

black
black
green
blue
47

In [60]:
#Range of Indexes

a=("kiwi","melon","blue berry","rasberry","orange","mango","aplle","mango","banana")
print(a[0:7])
print(a[5:-1])

a=("kiwi","melon","blue berry","rasberry","orange","mango","aplle","mango","banana")
print(a[5:0])

a=("kiwi","melon","blue berry","rasberry","orange","mango","aplle","mango","banana")
print(a[:7])
print(a[0])
print(a[6:])
print(a[0:])

('kiwi', 'melon', 'blue berry', 'rasberry', 'orange', 'mango', 'aplle')
('mango', 'aplle', 'mango')
()
('kiwi', 'melon', 'blue berry', 'rasberry', 'orange', 'mango', 'aplle')
kiwi
('aplle', 'mango', 'banana')
('kiwi', 'melon', 'blue berry', 'rasberry', 'orange', 'mango', 'aplle', 'mango', 'banana')

In [71]:
#Range of Negative Indexes

a=("kiwi","melon","blue berry","rasberry","orange","mango","apple","mango","banana")
print(a[-4:-1])
print(a[-4:-8])
print(a[-4:-3])
print(a[-4:-2])

('mango', 'apple', 'mango')
()
('mango',)
('mango', 'apple')

In [80]:
#Check if Item Exists

tuple=("apple","carrot","blue")
if "apple" in tuple:
  print("yes, 'apple' is in the fruits tuple")

yes, 'apple' is in the fruits tuple

In [86]:
tuple=("apple","carrot","blue")
if "kiwi" in tuple:     
  print("yes, 'apple' is in the fruits tuple")
elif "carrot" in tuple:
   print("yes, 'carrot' is in the vegitable tuple")

yes, 'carrot' is in the vegitable tuple

set

In [88]:
#tuple and set

a=("blue","black","white","pink","green")
print(a)
set={"blue","black","white","pink"}
print(set)

('blue', 'black', 'white', 'pink', 'green')
{'white', 'black', 'pink', 'blue'}

In [89]:
#Duplicate
set = {"apple", "banana", "cherry", "apple"}
print(set)

{'banana', 'cherry', 'apple'}